[submodule "anat"]
	path = anat
	url = git@github.com:courtois-neuromod/anat.git
[submodule "movie10"]
	path = movie10
	url = git@github.com:courtois-neuromod/movie10.git
[submodule "hcptrt"]
	path = hcptrt
	url = git@github.com:courtois-neuromod/hcptrt.git
[submodule "friends"]
	path = friends
	url = git@github.com:courtois-neuromod/friends.git
[submodule "docs"]
	path = docs
	url = git@github.com:courtois-neuromod/cneuromod_docs.git
[submodule "ds_prep"]
	path = code/ds_prep
	url = git@github.com:courtois-neuromod/ds_prep.git
[submodule "shinobi"]
	path = shinobi
	url = git@github.com:courtois-neuromod/shinobi.git
	datalad-id = 3ee55e10-f8f6-11ea-83ca-3ea8d101da1a
[submodule "harrypotter"]
	path = harrypotter
	url = git@github.com:courtois-neuromod/harrypotter.git
	datalad-id = d58c7aa5-3e9f-48bf-9cb9-d55057f460fd
[submodule "things"]
	path = things
	url = ./things
	datalad-id = 5151ad3c-321e-4111-abf0-95fee0dcbb90
[submodule "retinotopy"]
	path = retinotopy
	url = ./retinotopy
	datalad-id = df96e39c-55e0-4862-a5c4-66145afcff6a
